<!--@()-->

@main("Contact") {
  @* HTML content to be added to the main template *@ 

  <h3>
    Contact
  </h3>
  <h4>
    You can contact us fallowed by :
  </h4>
 


  <table>
    <tr>
      <th>Contact type</th>
      <th>contact</th> 
      <th>Ingo</th>
    </tr>
    <tr>
      <td>Phone call:</td>
      <td>+353(01)414345678</td>
      <td>after 10am </td>
    </tr>
    <tr>
      <td>eMail :</td>
      <td>play.withe us.ie</td>
      <td>Jane Tores</td>
    </tr>
    <tr>
      <td>Web www</td>
      <td>wwww.playwithus.ie</td>
      <td>wisit the side</td>
    </tr>
    <tr>
      <td> Facebook</td>
      <td>playUS</td>
      <td>Gropu</td>
    </tr>
  </table>
  <br>
  
  <table id="t01">
    <tr>
      <tr>
        <th>Contact type</th>
        <th>contact</th> 
        <th>Ingo</th>
      </tr>
      <tr>
        <td>Phone call:</td>
        <td>+353(01)414345678</td>
        <td>after 10am </td>
      </tr>
      <tr>
        <td>eMail :</td>
        <td>play.withe us.ie</td>
        <td>Jane Tores</td>
      </tr>
      <tr>
        <td>Web www</td>
        <td>wwww.playwithus.ie</td>
        <td>wisit the side</td>
      </tr>
      <tr>
        <td> Facebook</td>
        <td>playUS</td>
        <td>Gropu</td>
      </tr>
  </table>
  <form action="/action_page.php">
    E-mail:
    <input type="email" name="email">
    <input type="submit">
  </form>
  <form>
    <textarea>Some text...</textarea>
  </form>
  <p>
  <b>Note:</b>type="email" is not supported in IE9 and earlier.</p>
  <p>
    Please <a href="ContactUs.html" > contact us</a>to discuss your requirments
  </p>
}
